<!DOCTYPE html>
<html lang="en">
<head>   
<meta charset="utf-8" />   
<title>Chart.js </title>     
<!-- import plugin script -->   
<script src='static/Chart.min.js'></script>   
</head>
<body>
<h1>Flask Chart.js</h1>
<!-- bar chart canvas element -->
<canvas id="pie-chart" width="10" height="5"></canvas>
<script>
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
			labels: [{% for item in labels %}
				      "{{item}}",
				  {% endfor %}],
      datasets: [{
        label: "Population (millions)",
		backgroundColor: [{% for item in colors %}
		                   "{{item}}",
						 {% endfor %}],
		data: [{% for item in values %}
			    "{{item}}",
			  {% endfor %}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
</script>
</body>
</html>
